tests/src/org.hibernate/hibernate-jpamodelgen/5.6.14.Final/src/test/resources/org_hibernate/hibernate_jpamodelgen/xml-parser-helper-test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:hibernate-jpamodelgen-xml-parser-helper-test"
        elementFormDefault="qualified">
    <xs:element name="entity-mappings">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="entity" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="class" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
